body{
    background-color: rgb(45, 45, 45);
}
.top{
height: 80px;
width: 100%;
background-color: rgb(93, 93, 93);
}
.default{
    align-items: left;
    display: flex;
    justify-content: left;
}
.defaultImage{
    width: 80px;
    height: auto;
}
.middleSection{
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;

}
.centerDiv{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    gap:20px;
}

.mainButtons{
        border-radius: 8px;
        height: 120px;
        width: 300px;
        background-color: whitesmoke;
   
}
