<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/bdccStyle.css">
</head>
<body>
   <section class="top">
        <div class="default">
            <img src="Images\Default-Profile-Picture-Download-PNG-Image.png" class="defaultImage">
        </div>
        <div class="default">
           
        </div>
    </section>
  <Section class="middleSection">
    <div class="centerDiv">
        <button class= "mainButtons">Ver Diagnosticos</button>
        <button class= "mainButtons">Consultas</button>
        <button class= "mainButtons">Contactar</button>
        <button class= "mainButtons">igiufukyfu</button>
    </div>
   
  </Section>
</body>
</html>